<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <label>First Name:</label><input type="text" th:field="*{firstName}" required/><br><br>
        <label>Last Name:</label><input type="text" th:field="*{lastName}" required/><br><br>
        <label>Email:</label><input type="email" th:field="*{email}" required/><br><br>
        <label>Phone Number:</label><input type="tel" th:field="*{phoneNumber}" required/><br><br>
        <label>Password:</label><input type="password" th:field="*{password}" required/><br><br>
        <label>Role:</label>
        <select th:field="*{role}">
            <option value="BUYER">Buyer</option>
            <option value="SELLER">Seller</option>
        </select><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
